@supports not (display: grid) {
  flex: 0 0 30px;
}

@supports (display: grid) {
  flex: 0 0 30px;
}


.listing {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
  -moz-box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
  box-shadow: 0px 9px 54px -4px rgba(224,224,224,1);
  margin-right: 20px;
  margin-bottom: 30px;
 

}

#contentArea {
  width: 100%;
  height: 100vh;
  padding: 5%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 325px 325px;
}


.listingImg {
  width: 100%;
  color: white;
  position: relative;
  text-align: center;
  background: url(https://www.thehousedesigners.com/images/plans/ELC/uploads/1542_Ext_10_med-ml.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 200px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  
}

.year {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  padding: 5%;
  font-size: 1.2rem;

}


.bottomInfo {
  color: grey;
  padding: 5%;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: left;

}

.bottomInfo span {
  display: block;
  padding: 1%;
  
}



.listing-btn {
 position: absolute;
  background: #009faf;
  padding: 7px 25px;
  min-width: 100px;
  color: white;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 50px;
  opacity: 1;

}

.details button {
  position: absolute;
  background: #009faf;
  padding: 7px 25px;
  min-width: 100px;
  color: white;
  border-radius: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 50px;
  cursor: pointer;
  
}

.listing-btn:hover {
  cursor: pointer;
  transition: background 0.6s ease-in-out;
}

 

.details {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding:30px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;



  background: rgba(38, 49, 55,.8); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(38, 49, 55,1) 0%, rgba(38, 49, 55,.8) 79%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(38, 49, 55,1) 0%,rgba(38, 49, 55,.8) 79%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(38, 49, 55,1) 0%,rgba(38, 49, 55,.8) 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}
.details:hover {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}


 p {
  color: grey;
  padding: 2%;
  font-size: 0.9rem;
  font-weight: 700;

 
}


.btn-close button {
  cursor: pointer;
  transition: background 0.6s ease-in-out;
  background: #009faf;
  padding: 7px 25px;
  color: white;
  border-radius: 5px;

}

.modalImage {
 
  height: 30vh;
 
}

.modalBottom {
  
 
  padding: 20px;

}






